@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 302, 58%, 36%;
        --color-primary-accent: 283, 33%, 96%;
        --color-grey: 218, 15%, 59%;
        --color-table-head: 231, 16%, 88%;
        --color-table-text: 0, 0%, 46%;
        --color-red: 0, 96%, 47%;
        --color-blue: 232, 100%, 61%;
        --color-yellow: 46, 100%, 50%;
        --color-blue-accent: 202.8, 92.9%, 38.8%;
        --color-purple-accent: 288, 90.9%, 43.1%;
        --color-green-accent: 162, 100%, 34%;
        --color-greenish: 126, 98%, 36%;
        --color-twitter: 187, 95%, 44%;
        --color-facebook: 203, 90%, 34%;
        --color-linkedin: 203, 93%, 39%;
    }
}