@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 302, 58%, 36%;
        --color-primary-accent: 283, 33%, 96%;
        --color-grey: 218, 15%, 59%;
        --color-table-head: 231, 16%, 88%;
        --color-table-text: 0, 0%, 46%;
    }
}